<mc-page id="items" title="{{$parent.categoryChoice}}">
    <header>
        <mc-nav position="left" back="true" change-to="categories">Back</mc-nav>
        <button class="right-nav"><i id="showRightPush" snap-toggle="right" class="icon-empty-bowl1" ng-class="{'icon-icon_17163':myPlate.length, 'icon-bowl-full-test':myPlate.length >= 3}"><span id="notification" class="notification" ng-if="myPlate.length">{{myPlate.length}}</span></i></button>
    </header>
    <mc-content>
        <div class="container items-page">
			<div class="list-panel" ng-repeat="item in menuItemArray | filter: {'category': $parent.categoryChoice}">
				<div class="panel-body">
					<div class="panel-body-inner">
						<div class="panel-body-title">{{item.title}}</div>
						<span class="panel-body-description">{{item.description}}<small> - ${{item.price | number : 2}}</small></span>
					</div>
					<a class="panel-add-button" href="" ng-click="addToPlate(this.item)"><i class="fa fa-plus"></i></a>
				</div>
			</div>
		</div>
    </mc-content>
</mc-page>